.about_text_container {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 25px;
    padding: 20px;
    width: 80%;
}

.about_text_container a {
    color: blue;
}

.about_paragraph_line {
    text-indent: 30px;
}