nav {
    position: sticky;
    display: flex;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    height: 1.5em;
    border-bottom: 1px solid black;
    align-items: center;
    height: 2em;
    width: 100%;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    column-gap: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
}

li {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

link:visited {
    color: red;
}

li:hover {
    border-left: 2px solid rgb(77, 120, 178);
    border-right: 2px solid rgb(77, 120, 178);
    padding: 0px 2px 0px 2px;
}

li:active {
    border-left: 2px solid rgb(77, 120, 178);
    border-right: 2px solid rgb(77, 120, 178);
    padding: 0px 2px 0px 2px;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }