@import './css/LoginPageStyles.css';
@import './css/RegisterPageStyles.css';
@import './css/RegisterSuccessModalStyles.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('./images/wave_background_44.jpg') no-repeat;
}

.btn, button {
    cursor: pointer;
}

.test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.required_message {
    font-size: .75rem;
    color: red;
}

nav {
    border-bottom-style: solid;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.homePage_text {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}